.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  height: 50px;
  border: 1px solid #838383;
  border-radius: 4px;

  margin-bottom: 32px;
}

.form__input::placeholder {
  color: #838383;
}

.form__label_type_checkbox {
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin-right: 12px;
}

.form__button {
  background-color: #2f80ed;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  border: none;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  margin-bottom: 32px;
}

.form__button:hover {
  opacity: 0.7;
  cursor: pointer;
}
