.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 80px 0px 30px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  list-style-type: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
