.page {
  width: 100%;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  min-height: 100vh;
  max-width: 1600px;
  min-width: 1100px;
}
