.recipes {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: url("../images/background_recipes.svg");
  background-color: #0a2850;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  padding: 100px 0px 24px 80px;
  color: white;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  margin: 0;
}

.recipes__subtitle {
  color: white;
  padding: 0px 0px 80px 80px;
  max-width: 438px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif";
  margin: 0;
}

.recipes__videos {
  margin: 0 auto;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  margin-bottom: 215px;
}
.description {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  color: white;
}
