body {
  margin: 0;
}

.page {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  min-height: 100vh;
}

.header {
  background: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 80px 0px 30px;
}

.nav__logo {
  width: 105px;
  height: 30px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  list-style-type: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin-top: 50px;
}

.header__content-text {
  display: flex;
  flex-direction: column;
  max-width: 709px;
  margin-left: 80px;
}

.header__span-accent {
  color: #2f80ed;
  font-style: italic;
  font-size: 58px;
  font-family: "Noto Serif", serif;
  margin-top: 80px;
}

.header__title {
  font-size: 58px;
  font-weight: 500;
  font-family: "Inter";
}

.header__description {
  line-height: 30px;
  max-width: 683px;
  margin-top: 28px;
  font-family: "Noto Serif";
}

.header__image {
  width: 646px;
  height: 568px;
  margin-right: 5px;
}

.header__footer {
  display: flex;
  align-items: end;
  justify-content: space-between;
  color: #838383;
  font-family: "Inter";
  margin: 0px 80px 40px 80px;
}
.footer__list {
  padding: 0px;
}

.footer__list-item {
  list-style-type: none;
}

.recipes {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: url("../images/background_recipes.svg");
  background-color: #0a2850;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  padding: 100px 0px 24px 80px;
  color: white;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  margin: 0;
}

.recipes__subtitle {
  color: white;
  padding: 0px 0px 80px 80px;
  max-width: 438px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif";
  margin: 0;
}

.recipes__videos {
  margin: 0 auto;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  margin-bottom: 215px;
}

.description {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  color: white;
}
