body {
  margin: 0;
}

.page {
  width: 100%;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  min-height: 100vh;
  max-width: 1600px;
}

.header {
  background-color: #ffffff;
  background: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  position: relative;
  min-height: 720px;
  max-height: 800px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 80px 0px 30px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  list-style-type: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__span-accent {
  color: #2f80ed;
  font-style: italic;
  font-family: "Noto Serif", serif;
  font-size: 58px;
  line-height: 72px;
}

.header__title {
  font-size: 58px;
  line-height: 72px;
  font-weight: 500;
  font-family: "Noto Serif", serif;
  margin-left: 80px;
  margin-top: 183px;
  margin-bottom: 28px;
  letter-spacing: 1px;
}

.header__description {
  line-height: 30px;
  max-width: 683px;
  margin-left: 80px;
  margin-top: 28px;
  font-family: "Noto Serif", serif;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px 80px 40px 80px;
  margin-top: auto;
  color: #6f6f6f;
  font-family: "Inter";
}

.header__paragraph {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.recipes {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: url("../images/background_recipes.svg");
  background-color: #0a2850;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  padding: 100px 0px 24px 80px;
  color: white;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  margin: 0;
}

.recipes__subtitle {
  color: white;
  padding: 0px 0px 80px 80px;
  max-width: 438px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif";
  margin: 0;
}

.recipes__videos {
  margin: 0 auto;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  margin-bottom: 215px;
}

.description {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  color: white;
}
